@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');

/*------------------CONTENTS-----------------------*/
/*
Header

Article
     
Footer



/*---------------------------------------Header*/

header h1 {
    font-family: 'Kodchasan', sans-serif;
}

.hero-background {
    background: #111111 url("../media/whiskey.jpg") no-repeat fixed right center ;
    background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: -10;
  
}

 
/*---------------------------------------Article*/   
.box {
    height: 200px;
    width: 95%;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
    }

.box:hover {
     opacity: 0.7;
       
}

.about-me  {
        color: #fafafa;
        height: 100%;
        background-color: rgba(0, 0, 0);
        opacity: 0.2;
}
  
.carosel {
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(81, 136, 190);
    opacity: 0.2;
    }

.news {
    background-color: rgba(182, 180, 49);
    opacity: 0.2;
    }

.events {
    background-color: rgba(248, 74, 11);
    opacity: 0.2;
    }




/*---------------------------------------Footer*/


    
.footer-box {
    background-color: blueviolet;
    height:10%;
}

footer .footer-links {
    color:blue;
}