@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');

/*------------------CONTENTS-----------------------*/




/*---------------------------------------Header*/

body {
    font-family: 'Kodchasan', sans-serif;

}
/*------------Nav and footer colors-----------------------
https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/  
changing hamburger color

*/
 
#main-nav, .social-icon-color i, #main-nav .play-me {
    color: #fafafa;
}

#main-nav, .social-network-bg, #call-to-action {
    background-color: rgb(58, 58, 58);
}

.custom-toggler.navbar-toggler { 
    border-color: #fafafa;
    /* below was causing dotted line */
    outline: 0; 
    }
    /* change hamburger color in below code (rgba) */
    .custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.custom-toggler.navbar-toggler:hover {
    opacity: 0.5;
}


/*---------------------------------------Nav Bar*/
 #main-nav .navbar-brand {
     font-size: 200%;
     margin-left: -10px;
     padding-top:1%;
     padding-bottom: 1%;
     
 }

 #main-nav .play-me {
     font-size: 50%;
     text-align: center;
     border:none;
     padding: 3px 10px 3px;
     position: absolute;  
     left: 45%;
     top: 1rem;
     
     
     
    /*     ---use for media qeury--- */
     
 }
  #main-nav .play-me .fa-play-circle {
      font-size: 250%;
  }
 
  #main-nav .play-me span{
      display: block;
      font-size: 0.6rem;
      
  }

/*---------------------------------------Article*/   

#main-content-wrapper{

}

#hero-image{
    height:500px;
    width: 100%;
    background: url("../media/nicolanew.jpg") no-repeat center ;
    background-size: cover;
}

#about-me {
    font-size: 100%;
    background-color: #4e4e4e;
    color: #fafafa;
    border: 1px solid rgb(58, 58, 58);
    padding: 5%

}

.about-me-inner {
    border: 1px solid rgb(58, 58, 58);
    border-radius: 5%;
    padding: 5%

}




/*---------------------------------------Footer*/

#call-to-action {
    text-align: center; 
    padding-top: 5%;
    
    }

#call-to-action a {
    font-size: 80%;
    font-weight: 600;
    color: rgb(58, 58, 58);
    border-color: rgb(58, 58, 58);
    background-color: #fafafa;  
    }

#call-to-action a:hover{
    opacity: 0.7;
}

.social-network {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 0;
    text-align: center;
    }

.social-network li{
    display: inline;
    
}

.social-network i {
    margin: 2%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 200%;
    border-radius: 0%;
    position: relative;
    left: -15px;   
}

.social-network i:hover {
    opacity: 0.7;
}

#footer-bottom  p {
    font-size: 70%;
    text-align: center;
    color: #fafafa;
    background-color: rgb(58, 58, 58);
    margin: 0;
    padding-bottom: 5%;
}

