@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;300;400;500;600;700&display=swap');

/*------------------CONTENTS-----------------------
   Header
   Colors
   Effects
   Navbar
   Main article page
   Footer
   Gallery
   Contact
   Media Query
*/


/*---------------------------------------Header*/

body {
    font-family: 'Kodchasan', sans-serif;

}
/*----COLORS--------Nav and footer can be changed here-----------------------

https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/  
changing hamburger color

*/
 
#main-nav, .social-icon-color i, #main-nav .play-me {
    color: #fafafa;
}

#main-nav, .social-network-bg, #call-to-action, #footer-bottom  p{
    background-color: rgb(34, 34, 34);
}

.custom-toggler.navbar-toggler { 
    border-color: #fafafa;
    /* below used to stop dotted line around button */
    outline: 0; 
    }
    /* change hamburger color in below code (rgba) */
    .custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

.custom-toggler.navbar-toggler:hover {
    opacity: 0.7;
}


/* -------------------------EFFECTS ----------------------------- */

.social-network i:hover, #call-to-action a:hover {   /* Footer icons*/
    transform: scale(1.3); 
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  -moz-transform: scale(1.3); /* mozilla */    
}

.img-fluid:hover, #main-carousel:hover {    /* Gallery Tiles*/
   transform: scale(1.1); 
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  -moz-transform: scale(1.1); /* mozilla */ 
}

.contact-form button:hover{   /* contact form submit button */
    transform: scale(1.1); 
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    -moz-transform: scale(1.1); /* mozilla */
  
}
   




/*---------------------------Nav Bar-------------------------*/
 #main-nav .navbar-brand {
     font-size: 200%;
     margin-left: -10px;
     padding-top:1%;
     padding-bottom: 1%;
     
 }

 #main-nav .play-me {
     font-size: 50%;
     text-align: center;
     border:none;
     padding: 5px 10px 2px;
     position: absolute;  
     left: 45%;
     top: 1rem;
    }
      
  #main-nav .play-me .fa-play-circle {
      font-size: 250%;
  }
 
  #main-nav .play-me span{
      display: block;
      font-size: 0.6rem;      
  }

  .navbar-nav {
      opacity: 1.0;
  }
/*---------------------------Article main page------------------*/   

.hero-image {
    height: 100vh;
    width: 100%;
    background: url("../media/images/cover2.jpg") no-repeat center ;
    background-size: cover;
    background-position: top;
}


#about-me {
    font-size: 100%;
    background: #929292;
    color: #3e3539;
    border: 1px solid rgb(58, 58, 58);
    padding: 5%;
}


.about-me-inner {
    border: 1px solid rgb(58, 58, 58);
    padding: 5%;
    
}

#main-carousel {
    box-shadow: 0px 2px 4px 0px rgb(34, 34, 34);
    
    align-items: center;
    width: 400px; 
    transition: transform 1s; 
}

#carousel-outer-box {
    background: rgb(71, 71, 71);
    padding: 20px;
    display: flex;
    justify-content: center;     
}


/*--------------------------Footer------------------
bug within the icons.  outline-none needed somewhere

*/

#call-to-action {
    text-align: center; 
    padding-top: 5%;
}

#call-to-action a {
    font-size: 80%;
    font-weight: 600;
    color: rgb(58, 58, 58);
    border-color: rgb(58, 58, 58);
    background-color: #fafafa;
    transition: transform .2s  
}

.social-network {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: -1px; /*    -1px corrected bug on i-phone etc */
    text-align: center;
    }

.social-network li{
    display: inline;  
}

.social-network i {
    margin: 2%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 200%;
    border-radius: 0%;
    position: relative;
    left: -15px; 
    transition: transform .2s;  
}

#footer-bottom  p {
    font-size: 70%;
    text-align: center;
    color: #fafafa;
    margin: 0;
    padding-bottom: 5%;
}

/*  -----------------------------Gallery page------------------------- */

#gallery-wrap{ 
    background: rgb(168,138,153);
background: radial-gradient(circle, rgba(168,138,153,1) 43%, rgba(219,114,124,1) 87%);
}

.gallery-main-row {
       margin-top: -25px;       
}

.img-fluid {     
    padding: 10px #fafafa;
    margin: 0 auto;
    box-shadow: 0px 2px 4px 0px rgb(58, 58, 58);
    width: 400px;
    height: 300px;   
    transition: transform .2s;    
}

/*  ----------------------------Contact page----------------------- */


#contact-wrapper {
 background: rgb(168,138,153);
background: radial-gradient(circle, rgba(168,138,153,1) 43%, rgba(219,114,124,1) 87%);
}

.contact{
		padding: 4%;
		height: 300px;
	}
	.col-md-3{
        background: rgb(58, 58, 58);
        color: #fafafa;
		padding: 4%;
		border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #a88a99;
		padding: 3%;
		border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: rgb(58, 58, 58);
		color: #fff;
		font-weight: 600;
        width: 25%;
        transition: transform 0.2s;
}


/* -------------------------Media Query Section--------------------------------

 Will only require one size change as site reaponsive for mobil/tablets*/


@media only screen and (min-width: 992px) {

/*    nav bar contents resizing to suit desktop  */
#main-nav .navbar-brand {
    font-size: 300%;
}

#main-nav .play-me {
    font-size: 125%;
    top: 1.2rem;
}

.nav-link {
    font-size:125%;
}
    
/*--------footer contents resizing to suit desktop---------*/

   #call-to-action {

    font-size: 150%;
   }
   .social-network i {
       font-size: 300%;
   }

   .hero-image{

width: 100%;
height:100%;
background-size: cover;

   }

    }